.img{
    width:20vw;
    height: 25vh;
}
.container1{
    width: 20vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    padding: 1rem;
   border: 0.5rem solid rgb(94, 8, 8);
  
}
.label1 ,.button1{
    font-size: xx-large;
    width: 17vw;
    /* height: 7vh; */
    display: flex;
    justify-content: center;
}
.button1{
    background-color:  rgb(94, 8, 8);
    color: aliceblue;
}
.logo{
    width:7vw;
    height: 7vh;
}
.navbar{
    /* width:10vw;
    height: 4rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(108, 30, 30); */
    border-bottom: 0.25rem solid  rgb(94, 8, 8);
    border-top: 0.25rem solid  rgb(94, 8, 8);
  
}
#select {
    width:10vw;
    height: 5vh;
    font-size: larger;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :4rem;
}
.label2{
    font-size: xxx-large;
    font-weight: bolder;
  
}
.votingcharacter{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}